<nav class="navbar" role="navigation">
	<div class="navbar-header"><a class="navbar-brand" href="#"><%= @aa %></a></div>
</nav>
<%= @bb %>
<%= link_to "Kembali ke Pengaturan Profile", profile_organisasi_index_path, :class => "btn btn-primary" %>