<%= form_tag({:action => @aksi_form}, :role => "form", :id => "form") do %>
  <div id="block">
    <label id="user" for="name">p</label>
    <%= text_field_tag(:username,"",:placeholder => "Username", :id => "name") %>
    <label id="pass" for="password">k</label>
    <%= password_field_tag(:password,"",:placeholder => "Password", :id => "password") %>
    <input type="submit" id="submit" name="submit" value="a"/>
  </div>
<% end %>
<div id="option"> 
  <p>Sign in</p> 
  <a href="#">forgot?</a>
</div>