<form id="form" name="form" action="#" method="post">
  <div id="block">
    <label id="user" for="name">p</label>
    <input type="text" name="name" id="name" placeholder="Username" required/>
    <label id="pass" for="password">k</label>
    <input type="password" name="password" id="password" placeholder="Password" required />
    <input type="submit" id="submit" name="submit" value="a"/>
  </div>
</form>
<div id="option"> 
  <p>Sign in</p> 
  <a href="#">forgot?</a>
</div>