$(document).ready(function(){
	urlnya = $(location).attr('href').split('?');
	atr_isian = $('#form_isian').attr('action');
	ini_url = (atr_isian + "?" + urlnya[1]);

	$('#form_isian').attr('action', ini_url);
	$('#submit_btn').attr('disabled','disabled');
	nmsf = 0;


    if($('#submit_btn').val('Perbaharui'))
    {
        nmsf = 1;
    }



	$('#name_usertype').keyup(function(){
      nms = /^([-a-z ])+$/i.test($('#name_usertype').val());
         if(!nms)
        {
            nmsf = 0;
            $("#v_name_usertype").html('<div class="alert alert-danger">Tidak boleh diisi dengan selain a-z.</div>').hide().fadeIn(300);
        }
        else if($('#name_usertype').val().length < 3 || $('#name_usertype').val().length > 30)
        {
            nmsf = 0;
            $("#v_name_usertype").html('<div class="alert alert-danger">Isian harus terdiri dari 3 sampai 30 karakter.</div> ');
        }
        else if(nms)
        {
            nmsf = 1;
            $("#v_name_usertype").html('');
        }
    });

    $('#form_isian').change(function(){
        if(nmsf == 1)
        {
            $('#submit_btn').removeAttr('disabled','disabled');
        }
        else if(nmsf == 0)
        {
            $('#submit_btn').attr('disabled','disabled');
        }
    });


    	// $('#submit_btn').removeAttr('disabled','disabled');
// $("#ajax_paginate").find("a").each(function(){
// 	var linkElement = $(this);
// 	var paginationURL = linkElement.attr("href");
// 	linkElement.attr({"url": paginationURL,"href":"#"});
// 	linkElement.click(function(){
// 		$("#post_id").html('<div align="center"><br/><img src="/assets/images/loading.gif"/></div>')
// 		$("#post_id").load($(this).attr('url'));
// 		return false;
// 	}); 
// 	});

// $('#clear_form').click(function(){
//         $("#name_usertype").val('');
//     });
 $('#clear_form').click(function(){
         $("input").val('');
     });



});